<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Warehouse management</title>
    <link rel="stylesheet" href="/resources/style.css">
</head>
<body>
<header>
    <h1>Aplikacja do Zarządzania Magazynem</h1>
</header>
<div id="sidebar">
    <h3>Menu</h3>
    <nav>
        <ul>
            <li><a href="#inventory">Inventory</a></li>
            <li><a href="#orders">Orders</a></li>
            <li><a href="#customers">Customers</a></li>
        </ul>
    </nav>
</div>
<div id="main-content">
    <h1>Witaj w Aplikacji do Zarządzania Magazynem</h1>
    <p>Tutaj znajduje się główna zawartość aplikacji, gdzie będziesz mieć dostęp do wszystkich funkcjonalności dotyczących zarządzania magazynem.</p>
</div>
</body>
</html>